<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meet Me In The Alley</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">   
    <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.6.3/firebaseui.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.2/firebase.js"></script>
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica:400i|Modern+Antiqua" rel="stylesheet">
</head> 
<header id="masthead">
            <nav class="navbar navbar-expand navbar-light">           
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        {{!-- <a class="nav-link" href="/home" style="color:white">Home <span class="sr-only">(current)</span></a> FOR AUTH PAGE - DLO --}}
                         <a class="nav-link" href="/" style="color:white">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sell" style="color:white">Sell</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="/myAccount" style="color:white">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link signMeOut" href="/" style="color:white;float:right;">Sign Out</a>
                    </li>
                </ul>
            </nav>
        </header> 
<body>
    <div class="container-fluid">  
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <p class="mainText">Meet Me In The Alley*</p>
                <p class="subText">*Don't meet people in Alleys!</p>
                {{!-- <hr> --}}
            </div>
            <div class="col-1">
                <form class="searchMe"><p style="color:white;">Search</p>
                    <input type="text" name="search">
                    <br><br>
                    <input type="submit" value="Submit">
                    </form>
            </div>
        </div>
        <br>

        {{{ body }}}

        <footer>
            <div class="text-center">
                <p>© 2018 Copyright: Brogrammers</p>
            </div>
        </footer>
    </div>
    <script>

        $(".signMeOut").on("click", function) {
            signMeOut();
        }

        function signMeOut() {
            firebase.auth().signOut().then(function() {
              //  var url = "/";
             //   $(location).attr('href',url);
                 alert("Sign Out Successful")
            }).catch(function(err) {
                if (err) throw err;
               
            });
        }
    </script>
</body>
</html> 