
    <div class="row">
        <div class="col-12 sellTitle">
            Sell Your Shizz
        </div>
    </div>
    <div class="row">
        <div class="col-5"></div>
        <div class="col-2">
            <form class="formMe">
            <p>Title</p>
            <input type="text" name="title" size="27" class="input" required="required">
            <br><br>
            <p>Description of Item</p>
            <textarea rows="6" cols="30" name="description" class="input" form="usrform" required="required">
            </textarea>
            <br>
            <p>Price</p>
            <input type="text" name="category" size="7" class="input" required="required">
            <br>
            <p>Category</p>   
                <select class="category" required="required">
                    <option value></option>
                    <option value="1" style="font-size:20px;">Smartphone</option>
                    <option value="2" style="font-size:20px;">Gaming Console</option>
                    <option value="3" style="font-size:20px;">Laptop</option>
                    <option value="4" style="font-size:20px;">Desktop</option>
                    <option value="5" style="font-size:20px;">Trent</option>
                    <option value="6" style="font-size:20px;">Other</option>
                </select>
            <br>
            <p>Image</p>
            <input type="text" name="price" size="7" class="input" required="required">
            </form>
        </div>
        <div class="col-5"></div>
    </div>
    <div class="row">
    <div class="col-5"></div>
    <div class="col-2 buttonMe">
            {{!-- <a href="/home"> FOR AUTH PAGE - DLO --}}
            <a href="/">
            <button type="button" class="btn btn-primary">Cancel</button>
            </a>
            <a href="/sell/">
            <button type="button" type="submit" class="btn btn-secondary" style="margin-right:2%;">Submit</button>
            {{!-- <button type="button" action="/updateOne" method="POST class="btn btn-secondary" style="margin-right:2%;">Submit</button> --}}
            </a>
            </div>
            <div class="col-2"></div>
    </div>
    <div class="col-5"></div>

   