        <div class="row">
            <div class="col-12">
                <h2 class="subText">Item Title</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <p>Price goes here</p><br><br>
                <p>Description Goes here</p><br>
            </div>
            <div class="col-5">
                <p>Item Picture Goes Here</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary">Buy Item</button><br>
            </div>
        </div> 
        <hr>